<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/img/logo.png" type="image/x-icon">
    <title>Liga Pro 2023</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="style-index.css">
</head>
<body>

<header class="header">

    <a href="index.html" class="logo">
        <img src="img/logo.png" alt="">
    </a>

    <nav class="navbar">
        <ul class="nav nav-pills">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Serie A</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="http://www.ligapro.ec/serie-a/tabla">Tabla de Posiciones</a></li>
                <li><a class="dropdown-item" href="http://www.ligapro.ec/serie-a/resultados">Resultados</a></li>
                <li><a class="dropdown-item" href="http://www.ligapro.ec/serie-a/calendario">Calendario</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Serie B</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="http://www.ligapro.ec/serie-b/tabla">Tabla de Posiciones</a></li>
                  <li><a class="dropdown-item" href="http://www.ligapro.ec/serie-b/resultados">Resultados</a></li>
                  <li><a class="dropdown-item" href="http://www.ligapro.ec/serie-b/calendario">Calendario</a></li>
                </ul>
              </li>
            <li class="nav-item">
              <a class="nav-link" href="http://www.ligapro.ec/institucional/institucional">¿Quiénes Somos?</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#contact">Contacto</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                {{nombre}}
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a class="dropdown-item" href="/actualizar" type="submit">Actualizar</a>
                  </li>
                  <li>
                      <a class="dropdown-item" href="">
                          <form action="/eliminar" method="POST">
                              <input type="hidden" name="id" value="{{id}}">
                              <button type="submit" class="eliminar">Eliminar</button>
                          </form>
                      </a>
                  </li>
                  <li><a class="dropdown-item" href="/cerrar">Cerrar</a></li>
                </ul>
              </li>
          </ul>
    </nav>

</header>

<section class="home" id="inicio">

    <div class="content">
        <h3>Liga Pro 2023</h3>
        <p>La LigaPro administrará y organizará los torneos ecuatorianos de fútbol Serie A y Serie B, donde también controlará los derechos comerciales, disciplina, estadios, tribunal de apelaciones y de seguridad.</p>
        <a href="http://www.ligapro.ec/institucional/institucional" class="btn">Leer más...</a>
    </div>

</section>

<section class="about" id="directorio">

    <h1 class="heading"> <span>El</span> Directorio </h1>

    <div class="row">

        <div class="image">
            <img src="img/MiguelLoor.jpeg" alt="">
        </div>

        <div class="content">
            <h3>Miguel Ángel Loor</h3>
            <h5>Presidente</h5>
            <p>Nacido en Guayaquil-Ecuador, es Abogado de profesión por la Universidad de Especialidades Espíritu Santo (UEES).
                En abril del 2018, fue elegido como presidente de LigaPro. Al poco tiempo, alcanzó un acuerdo con Gol Tv para formalizar la venta centralizada de los derechos audiovisuales de la competición, lo cual permitió a los clubes afiliados a LigaPro obtener un incremento sustancial de los ingresos obtenidos hasta la fecha.</p>
            <a href="http://www.ligapro.ec/institucional/institucional" class="btn">Leer más...</a>
        </div>

    </div>

</section>

<section class="menu" id="equipos">

    <h1 class="heading"> Equipos <span>Participantes</span> </h1>

    <div class="box-container">

        <div class="box">
            <img src="img/IDV.png" alt="">
            <h3>Club Independiente del Valle</h3>
            <div class="price">Sangolqui</div>
        </div>

        <div class="box">
            <img src="img/El_Nacional.png" alt="">
            <h3>Club Deportivo El Nacional</h3>
            <div class="price">Quito</div>
        </div>

        <div class="box">
            <img src="img/Liga.png" alt="">
            <h3>Liga Deportiva Universitaria</h3>
            <div class="price">Quito</div>
        </div>

        <div class="box">
            <img src="img/Barcelona.png" alt="">
            <h3>Barcelona Sporting Club</h3>
            <div class="price">Guayaquil</div>
        </div>

        <div class="box">
            <img src="img/Universidad Catolica.png" alt="">
            <h3>Club Universidad Católica</h3>
            <div class="price">Quito</div>
        </div>

        <div class="box">
            <img src="img/Delfin_SC.png" alt="">
            <h3>Delfín Sporting Club</h3>
            <div class="price">Manta</div>
        </div>

        <div class="box">
            <img src="img/Cuenca.png" alt="">
            <h3>Club Deportivo Cuenca</h3>
            <div class="price">Cuenca</div>
        </div>

        <div class="box">
            <img src="img/Orense.png" alt="">
            <h3>Orense Sporting Club</h3>
            <div class="price">Machala</div>
        </div>

        <div class="box">
            <img src="img/Aucas.png" alt="">
            <h3>Sociedad Deportiva Aucas</h3>
            <div class="price">Quito</div>
        </div>

        <div class="box">
            <img src="img/Técnico_Universitario.png" alt="">
            <h3>Club Técnico Universitario</h3>
            <div class="price">Ambato</div>
        </div>

        <div class="box">
            <img src="img/Gualaceo.png" alt="">
            <h3>Gualaceo Fútbol Club</h3>
            <div class="price">Azogues</div>
        </div>

        <div class="box">
            <img src="img/Cumbayá FC.png" alt="">
            <h3>Cumbayá Fútbol Club</h3>
            <div class="price">Quito</div>
        </div>

        <div class="box">
            <img src="img/Emelec.png" alt="">
            <h3>Club Sport Emelec</h3>
            <div class="price">Guayaquil</div>
        </div>

        <div class="box">
            <img src="img/LibertafFC.png" alt="">
            <h3>Libertad Fútbol Club</h3>
            <div class="price">Loja</div>
        </div>

        <div class="box">
            <img src="img/Mushuc Runa.png" alt="">
            <h3>Mushuc Runa Sporting Club</h3>
            <div class="price">Ambato</div>
        </div>

        <div class="box">
            <img src="img/GuayaquilCity.png" alt="">
            <h3>Guayaquil City Fútbol Clu</h3>
            <div class="price">Guayaquil</div>
        </div>

        <div class="box">
            <img src="img/Macara.png" alt="">
            <h3>CSD Macará</h3>
            <div class="price">Ambato</div>
        </div>

        <div class="box">
            <img src="img/MANTA_FC.png" alt="">
            <h3>Manta Fútbol Club</h3>
            <div class="price">Manta</div>
        </div>

        <div class="box">
            <img src="img/Imbaburasc.png" alt="">
            <h3>Imbabura SC</h3>
            <div class="price">Imbabura</div>
        </div>

        <div class="box">
            <img src="img/Independiente Juniors.png" alt="">
            <h3>Club Independiente Juniors</h3>
            <div class="price">Sangolqui</div>
        </div>

        <div class="box">
            <img src="img/America-de-quito.png" alt="">
            <h3>Club Deportivo América</h3>
            <div class="price">Quito</div>
        </div>

        <div class="box">
            <img src="img/Vargas Torres.png" alt="">
            <h3>Club Social y Deportivo Vargas Torre</h3>
            <div class="price">Esmeraldas</div>
        </div>

        <div class="box">
            <img src="img/Buhos ULVR FC.png" alt="">
            <h3>Búhos ULVR FC</h3>
            <div class="price">Guayaquil</div>
        </div>

        <div class="box">
            <img src="img/9_de_Octubre_FC.png" alt="">
            <h3>Club Deportivo Nueve de Octubre</h3>
            <div class="price">Guayaquil</div>
        </div>

        <div class="box">
            <img src="img/Cuniburo FC.png" alt="">
            <h3>Cuniburo Fútbol Club</h3>
            <div class="price">Quito</div>
        </div>

        <div class="box">
            <img src="img/Chacaritas.png" alt="">
            <h3>Chacaritas Fútbol Club</h3>
            <div class="price">Pelileo</div>
        </div>
        
    </div>

</section>

<section class="blogs" id="estadios">

    <h1 class="heading"> Estadios <span>2023</span> </h1>

    <div class="box-container">

        <div class="box">
            <div class="image">
                <img src="img/Monumental.jpg" alt="">
            </div>
            <div class="content">
                <h2>Estadio Monumental Banco Pichincha</h2>
                <span>Guayaquil, Ecuador</span>
                <p>Capacidad: 59.283 espectadores</p>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <img src="img/AlbertoSpencer.png" alt="">
            </div>
            <div class="content">
                <h2>Estadio Alberto Spencer</h2>
                <span>Guayaquil, Ecuador</span>
                <p>Capacidad: 42.000 espectadores</p>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <img src="img/CasaBlanca.jpeg" alt="">
            </div>
            <div class="content">
                <h2>Estadio Rodrigo Paz Delgado</h2>
                <span>Quito, Ecuador</span>
                <p>Capacidad: 41.575 espectadores</p>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <img src="img/Capwell.jpg" alt="">
            </div>
            <div class="content">
                <h2>Estadio George Capwell</h2>
                <span>Guayaquil, Ecuador</span>
                <p>Capacidad: 40.000 espectadores</p>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <img src="img/OlimpicoAtahualpa.jpg" alt="">
            </div>
            <div class="content">
                <h2>Estadio Olímpico Atahualpa</h2>
                <span>Quito, Ecuador</span>
                <p>Capacidad: 35,258 espectadores</p>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <img src="img/Jocay.png" alt="">
            </div>
            <div class="content">
                <h2>Estadio Jocay</h2>
                <span>Manta, Ecuador</span>
                <p>Capacidad: 22.000 espectadores</p>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <img src="img/estadioAucas.jpg" alt="">
            </div>
            <div class="content">
                <h2>Estadio Gonzalo Pozo Ripalda</h2>
                <span>Quito, Ecuador</span>
                <p>Capacidad: 18.799 espectadores</p>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <img src="img/olimpícoIbarra.jpg" alt="">
            </div>
            <div class="content">
                <h2>Estadio Olímpico de Ibarra</h2>
                <span>Ibarra, Ecuador</span>
                <p>Capacidad: 18,600 espectadores</p>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <img src="img/Estadio-Cuenca.jpg" alt="">
            </div>
            <div class="content">
                <h2>Estadio Alejandro Serrano Aguilar</h2>
                <span>Cuenca, Ecuador</span>
                <p>Capacidad: 16.500 espectadores</p>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <img src="img/9deMayo.jfif" alt="">
            </div>
            <div class="content">
                <h2>Estadio Banco de Machala</h2>
                <span>Machala, Ecuador</span>
                <p>Capacidad: 16.500 espectadores</p>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <img src="img/Bellavisata.jpg" alt="">
            </div>
            <div class="content">
                <h2>Estadio Bellavista</h2>
                <span>Ambato, Ecuador</span>
                <p>Capacidad: 16.467 espectadores</p>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <img src="img/Estadio Latacunga.png" alt="">
            </div>
            <div class="content">
                <h2>Estadio La Cocha</h2>
                <span>Latacunga, Ecuador</span>
                <p>Capacidad: 16.200 espectadores</p>
            </div>
        </div>
        
        <div class="box">
            <div class="image">
                <img src="img/los-chirijos.jpeg" alt="">
            </div>
            <div class="content">
                <h2>Estadio Los Chirijos</h2>
                <span>Milagro, Ecuador</span>
                <p>Capacidad: 15.000 espectadores</p>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <img src="img/estadio-loja.jpg" alt="">
            </div>
            <div class="content">
                <h2>Estadio Federativo Reina del Cisne</h2>
                <span>Loja, Ecuador</span>
                <p>Capacidad: 14.935 espectadores</p>
            </div>
        </div>
        
        <div class="box">
            <div class="image">
                <img src="img/Folke_Anderson.jpg" alt="">
            </div>
            <div class="content">
                <h2>Estadio Folke Anderson</h2>
                <span>Esmeraldas, Ecuador</span>
                <p>Capacidad: 14.000 espectadores</p>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <img src="img/jorge-andrade.jpg" alt="">
            </div>
            <div class="content">
                <h2>Estadio Jorge Andrade Cantos</h2>
                <span>Azogues, Ecuador</span>
                <p>Capacidad: 14.000 espectadores</p>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <img src="img/BancoGuayaquil.png" alt="">
            </div>
            <div class="content">
                <h2>Estadio Banco Guayaquil</h2>
                <span>Quito, Ecuador</span>
                <p>Capacidad: 12.000 espectadores</p>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <img src="img/OlimpicoGuillermo.jpg" alt="">
            </div>
            <div class="content">
                <h2>Estadio Olímpico Guillermo Albornoz</h2>
                <span>Cumbaya, Ecuador</span>
                <p>Capacidad: 12.000 espectadores</p>
            </div>
        </div>
        
        <div class="box">
            <div class="image">
                <img src="img/chucho.jpg" alt="">
            </div>
            <div class="content">
                <h2>Estadio Christian Benítez Betancourt</h2>
                <span>Guayaquil, Ecuador</span>
                <p>Capacidad: 10.150 espectadores</p>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <img src="img/estadio_echaleche.jpg" alt="">
            </div>
            <div class="content">
                <h2>Estadio Cooperativa de Ahorro y Crédito Mushuc Runa</h2>
                <span>Ambato, Ecuador</span>
                <p>Capacidad: 8.200 espectadores</p>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <img src="img/pelileo.jpg" alt="">
            </div>
            <div class="content">
                <h2>Estadio Ciudad de Pelileo</h2>
                <span>Pelileo, Ecuador</span>
                <p>Capacidad: 8.000 espectadores</p>
            </div>
        </div>

    </div>

</section>

<section class="contact" id="contact">

    <h1 class="heading"> <span>Contác</span>tanos</h1>

    <div class="row">

        <form onsubmit="return validarFormulario()" class="form">
            <fieldset>
                <legend>RELLENA LOS CAMPOS</legend>
                <label for="nombre" class="form-label">Nombres:</label>
                <input class="form-control" name="nombre" type="text" id="nombre">
                <br>
                <label for="correo" class="form-label">Correo:</label>
                <input class="form-control" name="correo" type="email" id="correo">
                <br>
                <label for="celular" class="form-label">Celular:</label>
                <input class="form-control" name="celular" type="number" id="celular">
                <br>
                <label for="mensaje" class="form-label">Mensaje:</label>
                <textarea class="form-control" name="mensaje" id="mensaje"></textarea>
                <br>
                <input class="btn" type="submit" value="Enviar">
            </fieldset>
        </form>

    </div>

</section>

<section class="footer">

    <div class="share">
        <a href="https://www.facebook.com/LigaProEC" class="fab fa-facebook"></a>
        <a href="https://twitter.com/LigaProEC" class="fab fa-twitter"></a>
        <a href="https://www.instagram.com/ligaproec/" class="fab fa-instagram-square"></a>
    </div>

    <div class="links">
        <a href="#inicio">Inicio</a>
        <a href="#directorio">Directorio</a>
        <a href="#equipos">Equipos</a>
        <a href="#estadios">Estadios</a>
        <a href="#contact">Contacto</a>
    </div>

    <div class="credit">Creado por <span>Leonardo Sanchez</span> | &copy Derechos Reservados</div>

</section>
<script src="script.js"></script>
</body>
</html>