<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/img/logo.png" type="image/x-icon">
    <title>Liga Pro</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    
    <section>
    <div class="login-box">
        <form action="/login" class="Form" method="post">
            <h2>Iniciar Sesión</h2>

            <div class="input-box">
                <span class="icon"><ion-icon name="mail"></ion-icon></span>
                <input type="email" name="email">
                <label>Email</label>
            </div>

            <div class="input-box">
                <span class="icon"><ion-icon name="lock-closed"></ion-icon></span>
                <input type="password" id="inputPassword5" name="password">
                <label>Contraseña</label>
            </div>

            <button type="submit" class="">Ingresar</button>

            <div class="register-link">
                <p>No tiene cuenta?<a href="/registro"> Registrate</a></p>
            </div>

        </form>
    </div>
    </section>

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>